<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>twitterConsumerSecret</key>
	<string>C9nfYX6t63gBtzX3vRJwHe4EbAve8XneQ6dWXEIuBgyATfLzV6</string>
	<key>twitterConsumerKey</key>
	<string>3chEzIG0t1ocIXOwsMIiWsmYv</string>
</dict>
</plist>
